.uploader {
    display: flex;
    flex-direction: column;
}

.guesser {
    max-width: 90vw;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.imgPreview {
    min-width: 300px;
    width: 33%;
    height: auto;
}
